<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Presentation</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename = 'css/presentation.css')}}" />
    <style>body{
        font-family: 'Press Start 2P';
    }</style>
</head>
<body>
    <h1>WOLFEX TEAM</h1>
    <ul>
        <li>Jan Bartoszek</li>
        <li>Karol Źupnik</li>
        <li>Jarek Nowakowski</li>
    </ul>


    <form method = 'GET' action = '/'>
        <button type = 'submit'>Play Game</button>
    </form>

</body>



<!-- <a href="/">Play Game</a> -->